.link-menu {
    color: black;
}

.story-profile-photo {
    width: 56px; 
    height: 56px; 
    position: relative; 
    border-width: 2px !important;
}

.post-profile-photo {
    width: 46px; 
    height: 46px; 
    position: relative; 
    border-width: 2px !important;
}

.sidenav-profile-photo {
    width: 56px; 
    height: 56px; 
    position: relative; 
}

.comment-box {
    border-top: 1px solid lightgray;
}

.input-post {
    outline: none;
}

.btn-ig {
    background-color: transparent;
    border: 0;
    color: #007bff;
    font-weight: 600;
    right: 0;
    bottom: 0;
    top: 0;
    font-size: 15px !important;
    outline: none !important;
}

.btn-ig:hover,
.btn-ig:focus {
    color: #007bff !important;
}

.profile-info {
    font-size: 14px;
}

.profile-info-username {
    display: block;
    font-weight: 700;
}

.info {
    color: black;
}

.info:hover {
    color: black;
    text-decoration: none;
}

.sugest-profile-photo {
    width: 46px; 
    height: 46px;  
    position: relative;
}

.sugest-username {
    font-size: 14px;
    color: #262626;
}

.suggess {
    position: fixed !important;
    top: 98px !important;
    right: 243px !important;
    width: 300px !important;
}

.info_flex {
    display: flex;
}

#btn-follow {
    background-color: #0095f6;
    color: white;
    margin-bottom: 10px;
}

.send-comment {
    height: 25px !important;
    background-color: transparent !important;
    color: blue !important;
    border: 0px !important;
    margin-right: 10px !important;
}

.send-comment:disabled {
    background-color: transparent;
    color: black;
    height: 25px;
}

.editComment {
    color: black;
    font-size: 10px;
    margin-right: 8px;
}

.deleteComment {
    color: black;
    font-size: 10px;
}

.card-header {
    background-color: white;
}

.col-8 {
    max-width: 59% !important;
}

.avatar-img {
    transform: scale(1.5) !important;
    width: 100% !important; 
    position: absolute !important; 
    left: 0 !important;
}

.icon {
    font-size: 13px !important;
    width: 1.6em !important;
    height: 1.6em !important;
}

.avatar-img {
    transform: scale(1.5);
    width: 100%;
    position: absolute; 
    left: 0;
}

.item-comment {
    padding-bottom: 15px !important; 
    padding-top: 5px !important;
    margin-top: 7px;
}

.deleteComment {
    float: right !important;
}

.editComment {
    float: right !important;
}

.formEditComment {
    display: none !important;
}

.actionEditPost {
    float: right !important;
}

.inputEditComment {
    width: 100% !important;
}

.header-post {
    background-color: white !important;
}

.submitEditComment {
    background-color:#4285f8; 
    border-radius: 2px; 
    border: 1px solid white; 
    padding: 4px; 
    margin-top: 2px;  
    color: white;
}

.button-unlike {
    font-size: 16px !important; 
    color: #ed4956 !important;
}

.button-like {
    font-size: 16px !important;
}

.comment-avt {
    line-height: 25px;
}

.avt-in-comment {
    transform: scale(1.5); 
    width: 100%;
}

.inputEditComment {
    width: 100%;
}

.btn-loadmore {
    color: white;
    background-color: #0879fa;
    padding: 8px;
    margin-left: 185px;
}

.icon-right {
    float: right;
}

.form-none {
    display: none;
}

.span-follow {
    color: #0095f6; 
    font-size: 13px;
}

.username-suggess {
    text-decoration: none !important;
}

.sugest-username:hover {
    color: #0879fa;
    text-decoration: none;
}

.text-suggess {
    font-size: 15px;
}

.form-edit-comment {
    display: none;
}

.notification-unread {
    line-height: 25px; 
    background-color: darkgray; 
    margin-top: 5px; 
    color: black; 
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.read-noti:hover {
    color: black;
    text-decoration: none;
}

.notification-read {
    line-height: 25px; 
    background-color: whitesmoke; 
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

.notification-read:hover {
    color: black;
    text-decoration: none;
}

.notication-span {
    position: relative;
}

.span-count-noti {
    position: absolute;
    right: -5px;
    bottom: 15px;
    color: black;
}

.notication-span {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -20px;
    background-color: #f9f9f9;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.notication-span:hover .dropdown-content {
    display: block;
}
